<header class="w-full h-14 z-50 fixed bottom-0 text-black font-semibold bg-white border border-black/10 inset-x-0">
  <nav class="w-full p-3 ">
    <ul class="flex justify-around items-center w-full">
      <% if session[:is_logged_in] %>
        
        <%= link_to home_page_path do %>
          <li class="cursor-pointer">
            <span class="material-symbols-outlined">home</span>
          </li>
        <% end %>

        <%= link_to users_search_path do %>
          <li class="cursor-pointer">
            <span class="material-symbols-outlined ">search</span>
          </li>
        <% end %>
        <!--
        <div data-controller="taskmodal">
          <li class="cursor-pointer" data-action="click->taskmodal#openModal">
            <span class="material-symbols-outlined font-bold">add_circle</span>
          </li>
        </div>
        -->
        <%= link_to new_task_path, data: {turbo_frame: "modal"} do %>
          <li class="cursor-pointer">
            <span class="material-symbols-outlined font-bold">add_circle</span>
          </li>
        <% end %>

        <%= link_to user_tasks_path do %>
          <li class="cursor-pointer">
            <span class="material-symbols-outlined">checklist</span>
          </li>
        <% end %>

        <%= link_to user_profile_path(id: session[:user_id]) do %>
          <li class="cursor-pointer">
            <span class="material-symbols-outlined ">account_circle</span>
          </li>
        <% end %>
      <% else %>
      <li><%= link_to "Sign in", user_login_path %></li>
      <li><%= link_to "Sign up", new_user_path %></li>
        
      <% end %>
    </ul>
  </nav>
</header>

